
:root {
  --primary-color: #1E1E1E;
  --secondary-color: #131313;
  --tertiary-color: #6E6E6E;
  --accent-color: #FA8072;
  --dark-grey: #2E2E2E;
  --searchbar-grey: #2F2F2F;
  --dark-grey-subtle: #222222;
  
  --primary-font: #D9D9D9;
  --secondary-font: #78190F;
  --tertiary-font: #6F6F6F;
}





