@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

#app {
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body{
  background-color: var(--primary-color);
  padding: 0;
  margin: 0;
}


.primary-bg{
  background-color: var(--primary-color);
}
.secondary-bg{
  background-color: var(--secondary-color);
}
.tertiary-bg{
  background-color: var(--tertiary-color);
}
.accent-bg{
  background-color: var(--accent-color);
}
.accent-border{
  border-color: var(--accent-color);
}
.accent-bg{
  background: var(--accent-color);
}
.accent-color{
  color: var(--accent-color);
}

.searchbar-grey{
  background-color: var(--searchbar-grey) !important;
}

.primary-font{
  color: var(--primary-font) !important;
}

.secondary-font{
  color: var(--secondary-font);
}

.tertiary-font{
  color: var(--tertiary-font);
}

.accent-font {
  color: var(--accent-color);
}

.footer-bg {
  background-color: #252525;
}

.dark-font{
  color: var(--primary-color);
}

.dark-grey-bg{
  background-color: var(--dark-grey);
}

.cursor-pointer{
  cursor: pointer;
}

.sans-font {
  font-family: "Source Sans 3", sans-serif;
}

::placeholder {
  color: var(--tertiary-font) !important;
  opacity: 1; 
}

::-ms-input-placeholder { 
  color: var(--tertiary-font);
}

.route-btn{
  height: 2.5rem;
}
.logo {
  background-image: url('../src/assets/images/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 45px;
}
